.contact-container{
    margin: 0rem 12rem;
    padding: 1rem;
    margin-top: 10vh;   
}

header {
    margin-top: 30px;
}

.google-map {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}


.section5-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.section5-container span{
    font-size: 1.5rem;
}
.column {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 2rem;
}



.app-icons {
    display: flex;
    justify-content: left;
    margin-top: 10px;
}

.app-icons img {
    height: 30px;
    width: 30px;
}


.social-media-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.social_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.icon {
    font-size: 1.2rem;
}


.app-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.app_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-color:aliceblue;
}



.app_icon {
    font-size: 1.2rem;
    color: white;
}

.app_circle.colorful .app_icon {
    color: #f9573f;
}


@media only screen and (max-width: 500px) {
    .social_circle {
        width: 19px;
        height: 22px;
        padding: 2px;
    }
    .section5-container {
        justify-content: center;
    }
}

@media (max-width:850px) {
    .contact-container {
        margin: 0rem 2rem;
        padding: 1rem;
        margin-top: 10vh;
    }
  }
